body{
  background-color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
}
.passion-one-font{
  font-family: 'Passion One', cursive;
}
.anton-font{
  font-family: 'Anton', sans-serif;
}
.news_card_container{
  overflow: hidden;
height: 400px;
justify-content: center;
align-items: center;
}
.news_card_container img{
  width: max-content;
  display: block;
  text-align: center;
}

.back{
  background-image: url("../public/img/ganadores_blur.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  /* margin-top: -140px; */
  -webkit-filter: blur(0px) brightness(70%); /* Safari 6.0 - 9.0 */
  filter: blur(0px) brightness(70%);
}

.carousel{
box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.icon-input {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  font-size: 1.3rem;
}

.icon-input + input{
  padding-left: 3rem;
}

.border{
  border: 1px solid #ced4da !important;
}

.errors ul{
  margin-bottom: 0;
  list-style: none;
}

#navbarDropdown span{
  background: var(--bs-blue);
  color: white;
  font-size: 1.2rem;
  padding: 6px 11px;
  border-radius: 50%;
}
.archivos_adjuntos .col-md-6:last-child, .archivos_adjuntos .col-md-8:last-child {
  margin-bottom: 3rem !important;
}

.nav_register{
  margin-left: 3rem;
}

.card-img-overlay{
  top: inherit !important;
}

@media (max-width: 576px) {

  .nav_register{
    margin-left: 0;
  }

}

@media (max-width: 768px) {  }

@media (max-width: 992px) {  }

@media (max-width: 1200px) {  }

@media (max-width: 1400px) {  }
